/* ARTICLES*/
.article-container {
    max-width: 1200px;
    margin: 0 0;
}
.article-container h3 {
    font-size: 40px;
    border-bottom: 1px solid #b1b1b1;
}
.article-container .article {
    box-shadow: 0 4px 16px -8px rgba(0 , 0 , 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}
.article .article-left {
    background: #222;
    min-width: 82px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}
.article .article-left .fa-solid {
    font-size: 30px;
}
.article-right {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}
.article-right .article-autors{
    margin: 10px 0px 10px 0px;
}
.article-right a{
    display: flex;
    margin: 10px 10px 10px 0px;
    justify-content: end;
}
.article-right .article-description .description-title{
    margin: 0px 0px 10px 0px;
}
.read-more-text {
    display: none;
}
.article-container .article-description label {
    margin: 10px 10px 10px 0px;
}
.article-container .read-more-text label {
    margin: 10px 10px 10px 0px;
}
.article .article-right h3.article-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #fe4f02;
}
#ch {
    display: none;
}
#ch:checked ~ .read-more-text {
    display: block;
}
#ch:checked ~ label {
    display: none;
}
#ch:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}

#ch2 {
    display: none;
}

#ch2:checked ~ .read-more-text {
    display: block;
}

#ch2:checked ~ label {
    display: none;
}

#ch2:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}
#ch3 {
    display: none;
}

#ch3:checked ~ .read-more-text {
    display: block;
}

#ch3:checked ~ label {
    display: none;
}

#ch3:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}
#ch4 {
    display: none;
}

#ch4:checked ~ .read-more-text {
    display: block;
}

#ch4:checked ~ label {
    display: none;
}

#ch4:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}
#ch5 {
    display: none;
}

#ch5:checked ~ .read-more-text {
    display: block;
}

#ch5:checked ~ label {
    display: none;
}

#ch5:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}
#ch6 {
    display: none;
}

#ch6:checked ~ .read-more-text {
    display: block;
}

#ch6:checked ~ label {
    display: none;
}

#ch6:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}
#ch7 {
    display: none;
}

#ch7:checked ~ .read-more-text {
    display: block;
}

#ch7:checked ~ label {
    display: none;
}

#ch7:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}#ch8 {
    display: none;
}

#ch8:checked ~ .read-more-text {
    display: block;
}

#ch8:checked ~ label {
    display: none;
}

#ch8:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}#ch9 {
    display: none;
}

#ch9:checked ~ .read-more-text {
    display: block;
}

#ch9:checked ~ label {
    display: none;
}

#ch9:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}#ch10 {
    display: none;
}

#ch10:checked ~ .read-more-text {
    display: block;
}

#ch10:checked ~ label {
    display: none;
}

#ch10:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}#ch11 {
    display: none;
}

#ch11:checked ~ .read-more-text {
    display: block;
}

#ch11:checked ~ label {
    display: none;
}

#ch11:checked ~ a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}

.article-container label {
    margin-top:12px ;
    background-color: black;
    color: white;
    padding: 10px;
    width: 125px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
@media (max-width: 550px) {
    .article {
        flex-direction: column;
    }
    .article .article-left {
        padding: 0;
        border-radius: 8px 8px 0 0;
    }
    .article .article-left .article-date .day, .article .article-left .article-date .month {
        display: inline-block;
        font-size: 24px;
    }
    .article .article-left .article-date {
        padding: 10px;
    }
}