/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for body */

/* inicio de contenido se margen*/
nav {
  display: flex; 
  height: 75px; 
  background-color: #233471;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family:'Courier New', monospace;
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
}

nav .logo img:nth-child(1){
  height: 60px;
  margin-right: 10px;
}
nav .logo img:nth-child(2){
  height: 40px;
  margin-right: 5px;
}

nav .list {
  font-weight: 600;
  padding: 10px;
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .list li{
  list-style: none;
}

nav .list li a {
  display: block;
  text-transform: uppercase;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

nav .list li a:hover {
  border-bottom: 2px solid #ffffff;
}

nav .list li:nth-last-child(1) a {
  border: 2px solid #ffffff;
  padding: 12px; 
  border-radius: 20px;
  color: #000000;
  background-color: #ffffff;
}

#toggle {
  position: absolute;
  top: -100%;
}

nav .icon-bars {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-bars .line {
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}


@media (max-width:700px) {
  
  nav .logo img{
    float: none;
    width: auto;
      justify-content: center;
  }

  nav .list {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all .5s ease-in-out;
  }

  nav .list a {
    font-size: 20px;
  }

  #toggle:checked ~ .list {
    bottom: 0;
  }

  nav .icon-bars {
    display: block;
  }
}